.swiper-slide {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.swiper-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
